In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
from matplotlib import pyplot as plt
%matplotlib inline 
import scipy
import warnings
warnings.filterwarnings('ignore')

In [3]:
data=pd.read_csv('/Users/bibekrai/tensorflow-test/Nepal Travel/Data.csv')

In [4]:
data.head()

,Unnamed: 0,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time
0,0,Everest Base Camp Trek,"All Inclusive Price:\n$1,420USD",Duration: 16 Days,Moderate,5545 Meters,Hotel/Guesthouse,March - May & Sept - Dec
1,1,Everest Base Camp Short Trek,"All Inclusive Price:\n$1,295USD",Duration: 14 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec
2,2,Everest Base Camp Heli Shuttle Trek,"All Inclusive Price:\n$2,100USD\n\nClick to vi...",Duration: 12 Days,Moderate,5545 Meters,Hotel/Guesthouse,March to May & Sept - Dec
3,3,Everest Base Camp Heli Trek,"All Inclusive Price:\n$3,300USD",Duration: 11 Days,Moderate,5545 Meters,Hotel/Guesthouse,March - May & Sept - Dec
4,4,Everest Base Camp Trek for Seniors,"All Inclusive Price:\n$1,800USD",Duration: 20 Days,Moderate,5545 Meters,Hotel/Guesthouse,March - May & Sept - Dec

In [5]:
data.tail()

,Unnamed: 0,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time
8,8,Short Everest Trek,"All Inclusive Price:\n$1,060USD\n\nClick to vi...",Duration: 7 Days,Easy To Moderate,3900 Meters,Hotel/Guesthouse,March - May & Sept - Dec.
9,9,Everest Panorama Trek,"All Inclusive Price:\n$1,150USD\n\nClick to vi...",Duration: 10 Days,Easy To Moderate,3860 Meters,Hotel/Guesthouse,Jan - May & Sept - Dec
10,10,Everest View Trek,"All Inclusive Price:\n$1,100USD\n\nClick to vi...",Duration: 9 Days,Easy To Moderate,3860 m,Hotel/Guesthouse,Jan - May & Sept - Dec
11,11,Luxury Everest Base Camp Heli Trek,"All Inclusive Price:\n$4,200USD",Duration: 11 Days,Moderate,5545 Meters,Hotel/Teahouse,March-May & Sept-Dec.
12,12,Everest Base Camp Trek with Chola and Renjo La...,"All Inclusive Price:\n$1,900USD",Duration: 21 Days,Strenuous,5545 Meters,Hotel/Guesthouse,March to May and Sept to Nov

In [6]:
data.loc[2,'Cost']='All Inclusive Price:\n$2000USD'
data.loc[8,'Cost']='All Inclusive Price:\n$1060USD'
data.loc[9,'Cost']='All Inclusive Price:\n$1150USD'
data.loc[10,'Cost']='All Inclusive Price:\n$1100USD'

In [7]:
data.head()

,Unnamed: 0,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time
0,0,Everest Base Camp Trek,"All Inclusive Price:\n$1,420USD",Duration: 16 Days,Moderate,5545 Meters,Hotel/Guesthouse,March - May & Sept - Dec
1,1,Everest Base Camp Short Trek,"All Inclusive Price:\n$1,295USD",Duration: 14 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec
2,2,Everest Base Camp Heli Shuttle Trek,All Inclusive Price:\n$2000USD,Duration: 12 Days,Moderate,5545 Meters,Hotel/Guesthouse,March to May & Sept - Dec
3,3,Everest Base Camp Heli Trek,"All Inclusive Price:\n$3,300USD",Duration: 11 Days,Moderate,5545 Meters,Hotel/Guesthouse,March - May & Sept - Dec
4,4,Everest Base Camp Trek for Seniors,"All Inclusive Price:\n$1,800USD",Duration: 20 Days,Moderate,5545 Meters,Hotel/Guesthouse,March - May & Sept - Dec

In [8]:
data.tail()

,Unnamed: 0,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time
8,8,Short Everest Trek,All Inclusive Price:\n$1060USD,Duration: 7 Days,Easy To Moderate,3900 Meters,Hotel/Guesthouse,March - May & Sept - Dec.
9,9,Everest Panorama Trek,All Inclusive Price:\n$1150USD,Duration: 10 Days,Easy To Moderate,3860 Meters,Hotel/Guesthouse,Jan - May & Sept - Dec
10,10,Everest View Trek,All Inclusive Price:\n$1100USD,Duration: 9 Days,Easy To Moderate,3860 m,Hotel/Guesthouse,Jan - May & Sept - Dec
11,11,Luxury Everest Base Camp Heli Trek,"All Inclusive Price:\n$4,200USD",Duration: 11 Days,Moderate,5545 Meters,Hotel/Teahouse,March-May & Sept-Dec.
12,12,Everest Base Camp Trek with Chola and Renjo La...,"All Inclusive Price:\n$1,900USD",Duration: 21 Days,Strenuous,5545 Meters,Hotel/Guesthouse,March to May and Sept to Nov

In [9]:
data.to_csv('everest.csv',index=False)

In [35]:
df1=pd.read_csv('everest.csv')
df2=pd.read_csv('annapurnaData.csv')
df3=pd.read_csv('manaslu.csv')
df4=pd.read_csv('mustang.csv')
df5=pd.read_csv('langtang.csv')
mergeddf=pd.concat([df1,df2,df3,df4,df5])

In [36]:
mergeddf.drop(columns='Unnamed: 0',inplace=True)
mergeddf.to_csv('mergeddata.csv',index=False)

In [39]:
langtangdata=pd.read_csv('/Users/bibekrai/tensorflow-test/Nepal Travel/langtang.csv')
langtangdata.head()

,Unnamed: 0,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time
0,0,Langtang Valley Trek,All Inclusive Price:\n$750USD,Duration: 10 Days,Easy To Moderate,5050 Meters,Hotel/Teahouse,March-May & Sept-Dec
1,1,Langtang Gosaikunda Trek,"All Inclusive Price:\n$1,180USD",Duration: 16 Days,Easy To Moderate,4600m,Hotel/Guesthouse,March - May & Sept - Dec
2,2,Tamang Heritage Trek,All Inclusive Price:\n$920USD,Duration: 14 Days,Easy To Moderate,5050 Meters,Hotel/Guesthouse,March - May and Sept - Dec
3,3,Tamang Heritage Trail,All Inclusive Price:\n$750USD,Duration: 8 Days,Easy,2607 Meters,Teahouses/Lodges,Jan - May & Sept - Dec
4,4,Helambu Trek,All Inclusive Price:\n$780USD,Duration: 9 Days,Easy,3650 Meters,Hotel/Guesthouse,Jan - May & Sept- Dec

In [40]:
langtangdata.loc[3,'Cost']='All Inclusive Price:\n$750USD'

In [41]:
langtangdata.head()

,Unnamed: 0,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time
0,0,Langtang Valley Trek,All Inclusive Price:\n$750USD,Duration: 10 Days,Easy To Moderate,5050 Meters,Hotel/Teahouse,March-May & Sept-Dec
1,1,Langtang Gosaikunda Trek,"All Inclusive Price:\n$1,180USD",Duration: 16 Days,Easy To Moderate,4600m,Hotel/Guesthouse,March - May & Sept - Dec
2,2,Tamang Heritage Trek,All Inclusive Price:\n$920USD,Duration: 14 Days,Easy To Moderate,5050 Meters,Hotel/Guesthouse,March - May and Sept - Dec
3,3,Tamang Heritage Trail,All Inclusive Price:\n$750USD,Duration: 8 Days,Easy,2607 Meters,Teahouses/Lodges,Jan - May & Sept - Dec
4,4,Helambu Trek,All Inclusive Price:\n$780USD,Duration: 9 Days,Easy,3650 Meters,Hotel/Guesthouse,Jan - May & Sept- Dec

In [42]:
langtangdata.to_csv('langtang.csv',index=False)