## In this notebook, I have performed Exploratory Data Analysis.

In [240]:
#importing necessery analysis
import pandas as pd
import re
import warnings
warnings.filterwarnings('ignore')

In [241]:
#reading dataset
data=pd.read_csv('/Users/bibekrai/tensorflow-test/Travel-Nepal-Analysis/Data.csv')

In [242]:
#column data types
data.dtypes

Unnamed: 0                    int64
Trek                         object
Cost                         object
Time                         object
Trip Grade                   object
Max Altitude                 object
Accomodation                 object
Best Travel Time             object
Contact or Book your Trip    object
dtype: object

In [243]:
#dropping unwanted columns
data=data.drop(columns='Unnamed: 0')

In [244]:
#columns presented in dataset
data.columns

Index(['Trek', 'Cost', 'Time', 'Trip Grade', 'Max Altitude', 'Accomodation',
       'Best Travel Time', 'Contact or Book your Trip'],
      dtype='object')

In [245]:
#basic info of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Trek                       383 non-null    object
 1   Cost                       383 non-null    object
 2   Time                       383 non-null    object
 3   Trip Grade                 383 non-null    object
 4   Max Altitude               383 non-null    object
 5   Accomodation               133 non-null    object
 6   Best Travel Time           133 non-null    object
 7   Contact or Book your Trip  383 non-null    object
dtypes: object(8)
memory usage: 24.1+ KB

In [246]:
#describing the dataset
data.describe()

,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Contact or Book your Trip
count,383,383,383,383,383,133,133,383
unique,79,167,28,11,43,8,13,3
top,Annapurna Base Camp Trek,"$1,499 USD",14 Days,Moderate,"5,545m",Hotel/Guesthouse,March - May & Sept - Dec,https://www.himalayanglacier.com
freq,10,36,56,92,55,62,36,185

In [247]:
#we got 383 rows and 8 columns
data.shape

(383, 8)

In [248]:
#checking if there is any null columns or not
data.columns.isnull()

array([False, False, False, False, False, False, False, False])

In [249]:
#checking total null values in columns
data.isnull().sum()

Trek                           0
Cost                           0
Time                           0
Trip Grade                     0
Max Altitude                   0
Accomodation                 250
Best Travel Time             250
Contact or Book your Trip      0
dtype: int64

In [250]:
#filling null values with data
data['Accomodation']=data['Accomodation'].fillna('Hotel/Guesthouse')
data['Best Travel Time']=data['Best Travel Time'].fillna('Jan- May & Sept - Dec')

In [251]:
#rechecking total null values
data.isnull().sum()

Trek                         0
Cost                         0
Time                         0
Trip Grade                   0
Max Altitude                 0
Accomodation                 0
Best Travel Time             0
Contact or Book your Trip    0
dtype: int64

In [252]:
#columns present in dataframe
data.columns.value_counts()

Trek                         1
Cost                         1
Time                         1
Trip Grade                   1
Max Altitude                 1
Accomodation                 1
Best Travel Time             1
Contact or Book your Trip    1
dtype: int64

In [253]:
#total columns present in dataframe
data.columns.value_counts().sum()

8

In [254]:
#total types of trip grade
data['Trip Grade'].value_counts()

Moderate                 92
Demanding                75
Easy To Moderate         58
Moderate+Demanding       40
Moderate-Hard            30
Easy                     25
Strenuous                23
Demanding+Challenging    20
Easy-Moderate            10
Light+Moderate            5
Light                     5
Name: Trip Grade, dtype: int64

In [255]:
#total trek 
data['Trek'].value_counts()

Annapurna Base Camp Trek               10
Manaslu Circuit Trek                   10
Annapurna Circuit Trek                 10
Upper Mustang Trek                     10
Mardi Himal Trek                       10
                                       ..
Everest High Passes Trek                1
Gokyo Lake Renjo La Pass Trek           1
Everest Chola Pass Trek                 1
Everest Base Camp Trek for Seniors      1
Everest Base Camp Heli Shuttle Trek     1
Name: Trek, Length: 79, dtype: int64

In [256]:
#total type of accomodation 
data['Accomodation'].value_counts()

Hotel/Guesthouse       312
Hotel/Teahouses         30
Hotel/Teahouse          11
Hotel/Lodges            10
Hotel/Guest Houses       5
Hotel/Guesthouses        5
Hotel/Luxury Lodges      5
Teahouses/Lodges         5
Name: Accomodation, dtype: int64

In [257]:
data.to_csv('test.csv',index=True)