## In this notebook, I have performed Exploratory Data Analysis.

In [1]:
#importing necessery analysis
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
#reading dataset
data=pd.read_csv('/Users/bibekrai/tensorflow-test/Travel-Nepal-Analysis/Data.csv')

In [3]:
data.dtypes

Unnamed: 0                    int64
Trek                         object
Cost                         object
Time                         object
Trip Grade                   object
Max Altitude                 object
Accomodation                 object
Best Travel Time             object
Contact or Book your Trip    object
dtype: object

In [4]:
data['Cost']=data['Cost'].str.replace('$','').str.replace(' ','').str.replace('USD','').str.replace('\n','').str.replace(',','')

In [5]:
data['Time'].astype(str)

0       16 Days
1       14 Days
2       12 Days
3       11 Days
4       20 Days
         ...
378     10 Days
379     17 Days
380      9 Days
381     11 Days
382     17 Days
Name: Time, Length: 383, dtype: object

In [6]:
data['Time']=data['Time'].str.replace(' Days','')

In [7]:
data

,Unnamed: 0,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Contact or Book your Trip
0,0,Everest Base Camp Trek,1420,16,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,https://www.nepalhikingteam.com
1,1,Everest Base Camp Short Trek,1295,14,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,https://www.nepalhikingteam.com
2,2,Everest Base Camp Heli Shuttle Trek,2000,12,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,https://www.nepalhikingteam.com
3,3,Everest Base Camp Heli Trek,3300,11,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,https://www.nepalhikingteam.com
4,4,Everest Base Camp Trek for Seniors,1800,20,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,https://www.nepalhikingteam.com
...,...,...,...,...,...,...,...,...,...
378,378,Ghorepani Poon Hill Trek,450,10,Easy,"3,210m",NaN,NaN,https://www.adventurehimalayacircuit.com
379,379,Upper Mustang Trek,2100,17,Moderate-Hard,4200m,NaN,NaN,https://www.adventurehimalayacircuit.com
380,380,Mardi Himal Trek,590,9,Easy-Moderate,"4,500m",NaN,NaN,https://www.adventurehimalayacircuit.com
381,381,Langtang Valley Trekking,690,11,Moderate,"4,773m",NaN,NaN,https://www.adventurehimalayacircuit.com
382,382,Manaslu Circuit Trek,1190,17,Moderate-Hard,"5,220m",NaN,NaN,https://www.adventurehimalayacircuit.com

In [8]:
data.dtypes

Unnamed: 0                    int64
Trek                         object
Cost                         object
Time                         object
Trip Grade                   object
Max Altitude                 object
Accomodation                 object
Best Travel Time             object
Contact or Book your Trip    object
dtype: object

In [9]:
data['Cost']=data['Cost'].astype(str).astype(int)

In [17]:
data['Time']=data['Time'].str.replace('Days','')

In [18]:
data['Time']

0       16
1       14
2       12
3       11
4       20
      ...
378     10
379     17
380      9
381     11
382     17
Name: Time, Length: 383, dtype: object

In [19]:
data['Time'].astype(int)

ValueError: invalid literal for int() with base 10: ' 18 days'

In [11]:
data['Time'].dtype

dtype('O')

In [12]:
data['Time']

0       16
1       14
2       12
3       11
4       20
      ...
378     10
379     17
380      9
381     11
382     17
Name: Time, Length: 383, dtype: object

In [13]:
data.to_csv('test.csv')

In [14]:
new=pd.read_csv('/Users/bibekrai/tensorflow-test/Travel-Nepal-Analysis/Data Analysis/test.csv')

In [15]:
new.dtypes

Unnamed: 0.1                  int64
Unnamed: 0                    int64
Trek                         object
Cost                          int64
Time                         object
Trip Grade                   object
Max Altitude                 object
Accomodation                 object
Best Travel Time             object
Contact or Book your Trip    object
dtype: object

In [16]:
new['Cost'].astype(str).astype(int)

0      1420
1      1295
2      2000
3      3300
4      1800
       ...
378     450
379    2100
380     590
381     690
382    1190
Name: Cost, Length: 383, dtype: int64