## In this notebook, I have performed Exploratory Data Analysis.

In [88]:
#importing necessery analysis
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [89]:
#reading dataset
data=pd.read_csv('/Users/bibekrai/tensorflow-test/Travel-Nepal-Analysis/Data.csv')

In [90]:
data.dtypes

Unnamed: 0                    int64
Trek                         object
Cost                         object
Time                         object
Trip Grade                   object
Max Altitude                 object
Accomodation                 object
Best Travel Time             object
Contact or Book your Trip    object
dtype: object

In [91]:
data['Cost']=data['Cost'].str.replace('$','').str.replace(' ','').str.replace('USD','').str.replace('\n','').str.replace(',','')

In [92]:
data.dtypes

Unnamed: 0                    int64
Trek                         object
Cost                         object
Time                         object
Trip Grade                   object
Max Altitude                 object
Accomodation                 object
Best Travel Time             object
Contact or Book your Trip    object
dtype: object

In [93]:
data['Cost']=data['Cost'].astype(str).astype(int)

In [94]:
data.to_csv('test.csv')

In [95]:
new=pd.read_csv('/Users/bibekrai/tensorflow-test/Travel-Nepal-Analysis/Data Analysis/test.csv')

In [96]:
new.dtypes

Unnamed: 0.1                  int64
Unnamed: 0                    int64
Trek                         object
Cost                          int64
Time                         object
Trip Grade                   object
Max Altitude                 object
Accomodation                 object
Best Travel Time             object
Contact or Book your Trip    object
dtype: object

In [97]:
new['Cost'].astype(str).astype(int)

0      1420
1      1295
2      2000
3      3300
4      1800
       ...
378     450
379    2100
380     590
381     690
382    1190
Name: Cost, Length: 383, dtype: int64